<button type="button" id="sell-something-button"><i class="fa fa-plus"></i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="sell-something-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Sell something on Benny's List</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="post-input-element">
        <label for="post-text-input">Item description</label>
        <input type="text" id="post-text-input"></input>
      </div>

      <div class="post-input-element">
        <label for="post-photo-input">Photo URL</label>
        <input type="text" id="post-photo-input">
      </div>

      <div class="post-input-element">
        <label for="post-price-input">Selling price ($)</label>
        <input type="number" id="post-price-input">
      </div>

      <div class="post-input-element">
        <label for="post-city-input">City</label>
        <input type="text" id="post-city-input">
      </div>

      <div class="post-input-element">
        <fieldset id="post-condition-fieldset" class="post-fieldset">
          <legend>Condition</legend>
          <div>
            <input type="radio" name="post-condition" id="post-condition-new" value="new" checked>
            <label for="post-condition-new">New</label>
          </div>
          <div>
            <input type="radio" name="post-condition" id="post-condition-excellent" value="excellent">
            <label for="post-condition-excellent">Excellent</label>
          </div>
          <div>
            <input type="radio" name="post-condition" id="post-condition-good" value="good">
            <label for="post-condition-good">Good</label>
          </div>
          <div>
            <input type="radio" name="post-condition" id="post-condition-fair" value="fair">
            <label for="post-condition-fair">Fair</label>
          </div>
          <div>
            <input type="radio" name="post-condition" id="post-condition-poor" value="poor">
            <label for="post-condition-poor">Poor</label>
          </div>
        </fieldset>
      </div>

    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Create Post</button>
    </div>

  </div>
</div>
