<section class="photo-card">
  <div class="img-container">
    <img class="person-photo-img" src="{{photoURL}}" />
  </div>
  <div class="caption">
    {{caption}}
  </div>
</section>

<!-- PARTIALS IS FOR WHEN ANOTHER HANDLBAR IS GOING TO USE THIS PARTIAL HANDLEBAR -->
